<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bonjour <%= @user.name %></h1>
    <p>
      Pense à saisir ton TimeSheet !!!
    </p>
    <p>
      <a href="http://www.mystaff.in">Je remplis mon timesheet</a>
    </p>
    <p>Passe une bonne journée !</p>
  </body>
</html>