<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   	Bonjour <%= @name %>,
    <p>
      J'espère que tu as passé un bon week-end !
    </p>
<p>Nous sommes lundi. Pense à remplir ton TimeSheet de la semaine !<p/>
    <p>
      <a href="http://www.mystaff.in">Je remplis mon timesheet</a> (lien accessible depuis un ordinateur ou un smartphone)
    </p>
    <p>Passe une bonne journée !</p>
<p>A bientôt, <br />
L'équipe MyStaff.in<br />
http://www.mystaff.in
</p>
  </body>
</html>